<div class="d-flex flex-row justify-content-between">
    <div class="d-flex">
        <h2>Comprar tickets</h2>
        <h2 style="margin-left: 700px;">Comprar snacks</h2>
    </div>
</div>

<div class="d-flex flex-row justify-content-between">
    <div class="row" style="width: 1000px;">
        <div class="col-sm-6" >
            <div class="card">
                <div class="card-header">
                    {{selectedTourName}}
                </div>
                <div class="card-body" style="width: 600;">
                    <div class="mb-3">
                        <label class="form-label">Cantidad de boletos</label>
                        <input type="number" class="form-control" name="ammount" [(ngModel)]="amount">
                    </div>
                    <button class="btn btn-primary btn-small" (click)="Confirmar()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let snack of snackList">
                <td>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#deleteSnack" (click)="AddSnackToList(snack.snackId)">Agregar</button>                   
                </td>
                <td scope="col">{{snack.name}}</td>
                <td scope="col">{{snack.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
